:root { 
--gray_700:#666666; 
--gray_500:#9f9f9f; 
--gray_800:#393d46; 
--blue_500:#2c95ee; 
--bluegray_100:#cdcfd1; 
--orange_800:#f65d05; 
--red_500:#ff3f3a; 
--black_900_0c:#0000000c; 
--gray_50:#f6f7fb; 
--white_A700_82:#ffffff82; 
--bluegray_900:#333333; 
--yellow_400:#fae952; 
--bluegray_800:#414450; 
--indigo_900_19:#07006a19; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_68:#00000068; 
--indigo_600:#2536d0; 
--black_900_26:#00000026; 
}